{% extends "layout.html" %} {% block title %}Attractions |
{{session.username}}{% endblock %} {% block content %}

<div class="row">
  <div class="col s12">
    <h2>View Attractions</h2>
    <p class="text-align">
      Choose areas of interest where you'd like to perform activities.
    </p>
    <h4 class="center-align">Attractions</h4>
    <table class="responsive-table centered">
      <thead>
        <tr>
          <th>Hours</th>
          <th>Name</th>
          <th>Description</th>
          <th>Address</th>
          <th>Nearest Public Transport</th>
          <th>View Reviews</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header">Hours</div>
                <div class="collapsible-body">
                  <table>
                    <thead>
                      <tr>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for hour in item.hours %}
                      <tr>
                        <td>{{ hour.day }}</td>
                        <td>{{ hour.hour_start_time }}</td>
                        <td>{{ hour.hour_end_time }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.nearest_transport }}</td>
          <td>
            <a
              class="waves-effect waves-light btn"
              href="/view-reviews/{{ loop.index }}"
              >Reviews</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
